[build]
  command = "npm run build"
  publish = "dist"

[dev]
  command = "npx vite"
  port = 8888
  targetPort = 5173
  autoLaunch = false

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"
